---
import "../styles/main.css";
import { seoConfig, generateMetaTags, generateOpenGraphTags, generateTwitterTags } from "../../seo.config.js";

const { title = seoConfig.defaults.home.title } = Astro.props;
const metaTags = generateMetaTags('home', { title });
const ogTags = generateOpenGraphTags(metaTags);
const twitterTags = generateTwitterTags(metaTags);
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content={metaTags.description}>
    <meta name="keywords" content={seoConfig.site.keywords}>
    <meta name="author" content={seoConfig.site.author}>
    <link rel="canonical" href={metaTags.url} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": seoConfig.site.name,
      "url": seoConfig.site.url,
      "description": seoConfig.site.description,
      "author": {
        "@type": "Organization",
        "name": seoConfig.site.author
      }
    })} />
    <!-- Open Graph -->
    <meta property="og:title" content={ogTags['og:title']} />
    <meta property="og:description" content={ogTags['og:description']} />
    <meta property="og:type" content={ogTags['og:type']} />
    <meta property="og:url" content={ogTags['og:url']} />
    <meta property="og:image" content={ogTags['og:image']} />
    <meta property="og:site_name" content={ogTags['og:site_name']} />
    <!-- Twitter Card -->
    <meta name="twitter:card" content={twitterTags['twitter:card']} />
    <meta name="twitter:title" content={twitterTags['twitter:title']} />
    <meta name="twitter:description" content={twitterTags['twitter:description']} />
    <meta name="twitter:image" content={twitterTags['twitter:image']} />
    <meta name="twitter:site" content={twitterTags['twitter:site']} />
    <meta name="twitter:creator" content={twitterTags['twitter:creator']} />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=104064453', 'ym');

        ym(104064453, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/104064453" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
  <body class="home-page">
    <main class="home">
      <slot />
    </main>
  </body>
</html>
